html{
    font-size: 16px;
    font-family: 'Diphylleia', serif;
    color: white;
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
h2{
    text-align: center;

    color: black;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
p{
    text-align: center;

    font-family: 'Noto Sans JP', sans-serif;
}
/* body Section *************************************************/
body{
    

}
/* navigation Section *************************************************/
.nav{
    /* background-color: rgb(86, 86, 121); */
}
.logo{
    width: 3rem;
    height: 3rem;
}
/* Header Section *************************************************/
header{
    border: 2px solid rgb(129, 126, 126);
    margin-bottom: 1rem;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 50rem;
    background-color: aquamarine;
}

/*container & project Section *************************************************/
.container{
    text-align: center;
    background-color: rgb(7, 99, 99);
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    /* grid-template-columns: repeat(4, 1fr); */
    margin-bottom: 1rem;
    
}
.innerBox{
    width: 200px;
    height: 200px;
    background-color: aqua;

}
img{
    width: 100%;
    height: 100%;
}

/* footer Section *************************************************/
footer{
    margin-top: 1rem;
background-color: rgb(44, 184, 184);
width: 100vw;

}
.social{
    margin: 0 auto;
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.SLCont{
    width: 1.5rem;
    height: 1.5rem;
}
.SL{
    width: 100%;
    height: 100%;
}