html{
    font-size: 16px;
    font-family: 'Diphylleia', serif;
    color: white;
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
h2{
    text-align: center;

    color: black;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
p{
    text-align: center;

    font-family: 'Noto Sans JP', sans-serif;
}
/* body Section *************************************************/
body{
    

}
/* navigation Section *************************************************/
.nav{
    /* background-color: rgb(86, 86, 121); */
}
.logo{
    width: 3rem;
    height: 3rem;
}
/* Header Section *************************************************/
header{
    border: 2px solid rgb(129, 126, 126);
    margin-bottom: 1rem;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

/*container & project Section *************************************************/
.parentContainer{
    margin: 0 auto;
}
.container{
    text-align: center;
    background-color: rgb(7, 99, 99);
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    /* grid-template-columns: repeat(4, 1fr); */
    margin-bottom: 1rem;
   
    
}
.innerBox{
    /* width: 200px;
    height: 200px; */
    background-color: aqua;

}
img{
    width: 100%;
    height: 100%;
}

/* -------------------------------------Video section */
.parentcontainer2{
    margin: 0 auto;
}
.vidcontainer {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  background-color: rgb(96, 96, 163);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusted grid-template-columns */
  margin-bottom: 1rem;
}

.InnerVidBox {
  background-color: rgb(17, 17, 226);
  width: 100%; /* Added width property */
  height: 100%; /* Added height property */
}

.NormVid {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Added object-fit property */
}

.featuredVid {
  grid-column: 1 / span 4; /* Adjusted grid-column property */
 } 

.featured {
  width: 100%;
}

/***************************************************************information Section */

.infoContainer{
    /* width: 90vw; */
    /* align-items: center; */
    margin: 0 auto;
    background-color: rgb(187, 149, 100);
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  */
    display: flex;
    flex-wrap: wrap;
}
.photo{
    /* grid-column: 1/3; */
    /* grid-row: 1/4; */
    background-color: aqua;
}
.Pphoto{
    width: 100%;
}
.information{
    display: grid;
    text-align: center;
    grid-column: auto/auto;
    /* grid-row: 1/4; */
    background-color: rgb(108, 233, 233);
}
.otherInfo{
    /* display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));  */  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.miniInfo{
    width: cover;
    background-color: blanchedalmond;
}

.socialLinks{
    width: 100%;
    background-color: rgb(91, 133, 133);
}

    
/* footer Section *************************************************/
footer{
margin-top: 1rem;
background-color: rgb(44, 184, 184);
width: 100vw;

}
.social{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.SLCont{
    width: 20%;
    height: 20%
}
.SL{
    width: 100%;
    height: 100%;
}

/***************************************MEDIA QUERY******/

@media (min-width:901px) and (max-width: 100vw) {
    .infoContainer,.parentcontainer2,.parentContainer{
        width: 80%;
    }
    .miniInfo{
        width: 100%;
    }
    .information{
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }
    .name,.otherInfo{
        width: 50%;
    }
    .nameCont{
        width: 100%;
        height: 100%;
        padding-top: 12rem;
        padding-bottom: auto;

    }
    .social{
        width:50%;
    }
    .SLCont{
        width:5%;
        height:auto;
    }

  }/*@media (width >= 900px) close*/

  @media (min-width: 100px) and (max-width: 900px) {
    .name,.otherInfo{
        width: 100%;
    }
    .miniInfo{
        width: 100%;
        
    }
    .social{
        width:50%;
    }
    .SLCont{
        width:20%;
        height:auto;
    }
  }